
<div class="calculator-container w-container">
  <div class="calc-background-field">
    <div class="formula">{{expression}}</div>



    <div class="_100 calcelement">
      <input type="text" name="textboxname" value="    Operations history:">
      <div class="text-field-wrapper w-form">
             <form data-name="calculator io" id="wf-form-calculator-io" name="wf-form-calculator-io">
          
          <div id={{history}} style="border : solid 2px #0bcee0; background : #444343; color : #f7f4f5; padding : 4px;  height : 50px; overflow : auto;">
             {{history}}<br />
          </div>
          <!--
          <div id="outputDisplay" style="border : solid 2px #0bcee0; background : #656867; color : #656867; padding : 4px;  height : 20px;">
             <p>{{values}}</p>
          </div>
        -->
        </form>
        <form data-name="calculator io" id="wf-form-calculator-io" name="wf-form-calculator-io">
          <!--<input
          class="text-field w-input"
          data-name="lcd"
          id="lcd"
          maxlength="256"
          name="lcd"
          placeholder="0"
          type="text"
          pattern="[0-9-+*/.()]"
          [(ngModel)]="lcdValue"
          [style.background-color]="lcdBackGroundColor"
          readonly>-->

          <input type="text" name="lcd" id="lcd" [(ngModel)]="lcdValue" [style.background-color]="lcdBackGroundColor"
          maxlength="256"
          placeholder="0"
          class="text-field w-input"
          autofocus="autofocus"
          OnLoad="document.myform.mytextfield.focus();"
          onblur="this.focus()" autofocus
          autocompletesearch="history"
          >

        </form>
   
        <!--<div (click)="evaluate()" class="_25 bold button calcelement">Calculate/Convert Anything</div>-->
      </div>
    </div>
    <div (click)="calcButtonPress('(')" class="_25 button calcelement">(</div>
    <div (click)="calcButtonPress(')')" class="_25 button calcelement">)</div>
    <div (click)="clearButtonPress('')" class="_25 _50 button calcelement">
      AC
    </div>
    <div (click)="calcButtonPress('7')" class="_25 bold button calcelement">7</div>
    <div (click)="calcButtonPress('8')" class="_25 bold button calcelement">8</div>
    <div (click)="calcButtonPress('9')" class="_25 bold button calcelement">9</div>
    <div (click)="calcButtonPress('/')" class="_25 button calcelement">÷</div>
    <div (click)="calcButtonPress('4')" class="_25 bold button calcelement">4</div>
    <div (click)="calcButtonPress('5')" class="_25 bold button calcelement">5</div>
    <div (click)="calcButtonPress('6')" class="_25 bold button calcelement">6</div>
    <div (click)="calcButtonPress('*')" class="_25 button calcelement">x</div>
    <div (click)="calcButtonPress('1')" class="_25 bold button calcelement">1</div>
    <div (click)="calcButtonPress('2')" class="_25 bold button calcelement">2</div>
    <div (click)="calcButtonPress('3')" class="_25 bold button calcelement">3</div>
    <div (click)="calcButtonPress('-')" class="_25 button calcelement">-</div>
    <div (click)="calcButtonPress('0')" class="_25 bold button calcelement">0</div>
    <div (click)="calcButtonPress('.')" class="_25 button calcelement">.</div>
    <div (click)="calcButtonPress('=')" class="_25 button calcelement">=</div>
    <div (click)="calcButtonPress('+')" class="_25 button calcelement">+</div>
    <div (click)="calcButtonPress('sin')" class="_25 button calcelement">Sin</div>
    <div (click)="calcButtonPress('cos')" class="_25 button calcelement">Cos</div>
    <div (click)="calcButtonPress('tan')" class="_25 button calcelement">Tan</div>
    <div (click)="calcButtonPress('log')" class="_25 button calcelement">Log</div>
    <div (click)="calcButtonPress('pi')" class="_25 button calcelement">π (pi)</div>
    <div (click)="reset()" class="_25 button calcelement">Reset</div>
    <div (click)="clearButtonPress('')" class="_25 button calcelement">
      Clear
    </div>



  </div>
</div>
