<!--Author: Abhineet Swain-->
<div class="hero">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-7">
        <h1 class="logo-text">Intermediate Calculator</h1>
        <p class="subtitle">
           <ul><h3><b> <u>This calculator uses:</u> </b></h3>
            <li>Atom Editor.</li>
            <li>CentOS 7.
            <li>Angular 2 Framework.</li>
            <li>Typescript.</li>
            <li>Javascript.</li>
            <li>Bootstrap.</li>
            <li>NPM Compiler.</li>
          </ul>
           <ul><h3><b> <u>Concepts, Logic and Libraries Used:</u> </b></h3>
           <li> Typescript Math Library (Auto-Installed in Angular-2 Module). </li>
           <li> Regular Expressions Test functions of Typescript. </li>
         </ul>
         <h3><b><i> PLEASE PRESS "ENTER" KEY CALCULATION RESULT.</i> </b></h3>
         <h3><b><i> In case for Stucked Calculator: Press "RESET" below button.</i> </b></h3>
       <!--<ul><h3><b> <u>NOTE:</u> </b></h3>
       <li> Using Calculate/Convert button requires little read.</li>
       <li> Small and Simple training Manual. </li>
       <li>  </li>
       <li>  <a href="#" >Visit Here<a>  </li>
       </ul> -->
      </div>
      <div class="calculator-column w-col w-col-5">
        <!--<calc-text></calc-text>-->
        <js-calculator></js-calculator>

      </div>
    </div>
    <div class="links">
      <a href="https://angular.io"><img class="powered" src="images/8448280c4dbe5e70-32x32.png" title="Powered by Angular2"></a>
      <a href="https://www.typescriptlang.org/"><img class="powered" src="images/32X32_TSlogo.png" title="TypeScript"></a>
      <a href="https://www.javascript.com/"><img class="powered" src="images/js-32x32.png" title="JavaScript"></a>
    </div>
  </div>
</div>
